@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Poppins:wght@700;900&display=swap');

body {
    background-color: #c6c9bdff;
}

h1 {
    white-space: nowrap;
    overflow: hidden; 
    position: absolute;
    margin-top: -130px;
    margin-left: -35px;
    width: 102%;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 288px;
    letter-spacing: 85px;
    
    color: #E4E7DD;

}

h2 {
    font-family: poppins;
    font-weight: 700;
    font-size: 72px;
    color: white;

    position: absolute;
    margin-top: 415px;
    margin-left: 645;
}

img { 
    transform: scale(.81, .73);
    position: absolute;
    max-width: 125%;
    height: 102%;
    left: -250px;
    top: 150px;
    
}

section {
    font-family: Gilda display;
    font-size: 36px;
    color: #ffffff;
    position: absolute;
}

#questions {
    text-align: right;
    margin-top: 570px;
    margin-left: 840px;
}

#answers {
    margin-top: 570px;
    margin-left: 1055px;
}

hr {
    border: 2px solid #e4e7dd;
    position: absolute;
    width: 974px;
    margin-left: 575px;
    margin-top: 552px;
  }